<ul> 
<li> <a href="/hi"> Hi </a> </li>
  <li> <a href="/about"> About </a> </li>
  <li> <a href="/recipe"> Recipe </a> </li>
  <li> <a href="/users/jon.8998"> Profile: Jonathan </a> </li>
 
</ul>
Status API Training Shop Blog About
