<h2> List of Projects</h2>
<ul>
	<% @projects.each do |pjct| %>
	<li>
	
	<%= link_to pjct.name, "projects/#{pjct.id}" %> - 
	<%= link_to "Time entries", "projects/#{pjct.id}/time_entries" %>
	</li>
	<% end %>


</ul>

<a href="/projects/new"> Add Project </a>


