<%# add navigation links to this file %>
Links will go here
<li>
<%= link_to 'home', about_path %></li></li>
<li>
 <%= link_to 'about', about_path %></li>
<li>
	<%= link_to 'blog', about_path %></li>
</li>
<li>
	<%= link_to 'contacts', about_path %></li>
</li>
