
<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<br>
<%= link_to "text", "/text_inspections/new" %>

<br>
<%= link_to "asciify", "/asciis/new" %>
<br>
<%= link_to "generate", "/gen/new" %>


