

<h2> Add a new post </h2>

<form action="/create_post" method="post">
  <input type="text" name="title"
      placeholder="post title" action="/create_post" method="post">
  <input type="text" name="text"
      placeholder="Write about something">

  <button type="submit">
    Add post
  </button>
</form>